@import './variables.scss';

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 2px solid black;
  background-image: url('../assets/img/sea_background.png') ;
}