@import './variables.scss';

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $modal-background-color;
}

.modalBody {
  padding: 10px;
  color: aliceblue;
  background-color: $modal-item-color;
  border: 2px solid $modal-item-color;
  border-radius: 10px;
}